{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-3">

      <form action="/tasks/create/" method="POST" class="card card-body">
        <h1>Crear tarea</h1>
        
        {{ error }}
        {% csrf_token %}

        <!-- <div class="mb-3">
          <label for="title">Título</label>
          <input type="text" name="title" id="title" class="form-control" required placeholder="Escribe el título de la tarea"/>
        </div>

        <div class="mb-3">
          <label for="description">Descripción</label>
          <textarea name="description" id="description" class="form-control" required placeholder="Escribe la descripción de la tarea"></textarea>
        </div> -->

        {{form}}
        <button class="btn btn-primary">
          Crear tarea
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock %}